

.container{
    margin-top:10px;
    display:grid;
    grid-template: 100%/33.3% 33.3% 33.3%;
    height:500px;
    overflow: auto;

}

.item{
    border: 2px solid lightgray;
    margin:10px;
    height: 450px;
    background-color: black;
    color: lightgray;
    border-radius:10px;

}

