
.cont{
    display:grid;
    grid-template: 100%/20% 80% minmax(10px, 1fr);
    grid-template-areas: "navbar home";
    min-width:1fr ;
    height: 656px;  
    max-height: 100%                  
}



.navbar{
    grid-area: navbar;
    
}

.home{
    grid-area: home;
    background-color:#9a9a9a;
    color:white;
  
}

hr{
    color: lightgray
}
